.container {
  height: 150px;
  padding: 0px 50px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
 
 
}

.item:nth-child(2) {
  flex: 3;
}

.item:last-child {
  justify-content: flex-end;
}

.callButton {

  border-radius: 50%;
  padding: 10px;
  width: 150px;
  height: 170px;
}

.texts {
  margin-left: 110px;
  
  width: 270px;
  height: 140px;
 
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: black;
  justify-content: space-between;
    margin-left: 160px;
    width: 400px;
    font-size: medium;
    font-weight: 450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cart{
    position: relative;
    color: rgb(14, 13, 13);
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d1411e;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;

}

@media screen and (max-width:480px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }
}

.header{
  border: 2px solid rgb(248, 223, 223);
  position: sticky;
 background-color: white;
 

}
.logoContainer {
  display: flex;
  
}

.logo {
  height: 40px;
  margin-left: 20px;

}

.log {
margin-left: 115px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 160px;
  width: 400px;
  font-size: medium;
  font-weight: 450px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rightSide{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 20px;
} 
.cart{
  position: relative;
  display: flex;
  cursor: pointer;
  z-index: 99;
  justify-content: space-around;
}
.search{
  justify-content: space-around;
  margin-right: 10px;
}
.menu>li:hover{
  cursor: pointer;
  color: darkred;
}

.badge{
  position:absolute;
  display: flex;
  background-color: brown;
  color: aliceblue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -0.5rem;
}